/* Colors */
$clr_white: #fff;
$clr-orange: #f57105;
$clr-yellow: #f5de49;
$clr-purple: #59039c;
$clr-light-blue: #025fbd;
$clr-blue: #031987;
$clr-grey-one: #e8e9ed;
$clr-grey-2: #423f3e;
$clr-grey-3: #536162;
$clr-grey-4: #e1e1e1;
$clr-grey-5: #c0c1c2;

/* Body */
$curser: pointer;

/* Fonts */
$font-one: Roboto;